.panel__content {
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.student__info {
  /* height:400px; */
  /* width: 300px; */
  padding: 17px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  /* background-color: rgb(247, 242, 242); */
  box-shadow: 0 5px 12px rgb(118, 118, 118);
  border-radius: 4px;

}

.student__img-content{
  
}

.student__img {
  width: 200px;
  border-radius:  100%;
}